*{margin:0; padding:0; box-sizing: border-box;}

header{ }

body, html{
    height: 100%;
}

body{}

nav{padding: 3rem 0rem 0rem 0rem}

nav ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 3rem;
}

nav a{
    color:blue
}

nav a:hover{}

h1{text-align: center;
padding: 0rem 0rem 1rem 0rem}

h2{text-align: center;
}

h3{text-align: center;
}

h4{text-align: center;
}

p{text-align: center;
    padding:1rem;
}

dl{
    color:navy
}

dt{text-align: center;
    margin: 4rem 0rem 0rem 0rem;
    font-size: 2rem;
    
}

dd{
    text-align: center;
    margin: 0rem 30rem
}

li{
    text-align: center;
    padding: 0.5rem;
    font-style: italic;
    
    
}


main{
    
   
}


img{
}


footer{
        text-align: center;
        
    }

.navyText{color: navy}


.indexBackground{
    background-image: url("pixelPC.avif"); 
    height: 100%;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: 55% 99%;
    background-position: center;
}

.resumeBackground{
    background-image: url("treesFramingCenter.avif"); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    background-position: center;
}

.midtermThirdPageBackground{
    background-image: url("pixelParkBench.jpg"); 
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    background-position: center;
}

.indexPadding{
    padding: 10rem 40rem;
}

